pkgbase = illogical-impulse-fonts-themes
	pkgdesc = Illogical Impulse Fonts and Theming Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = adw-gtk3-git
	depends = qt5ct
	depends = qt5-wayland
	depends = fontconfig
	depends = ttf-readex-pro
	depends = ttf-jetbrains-mono-nerd
	depends = ttf-material-symbols-variable-git
	depends = ttf-space-mono-nerd
	depends = fish
	depends = foot
	depends = starship

pkgname = illogical-impulse-fonts-themes