pkgbase = illogical-impulse-microtex
	pkgdesc = Illogical Impulse MicroTeX Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = tinyxml2
	depends = gtkmm3
	depends = gtksourceviewmm
	depends = cairomm

pkgname = illogical-impulse-microtex