pkgbase = illogical-impulse-backlight
	pkgdesc = Illogical Impulse Backlight Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = brightnessctl
	depends = ddcutil

pkgname = illogical-impulse-backlight